* {
  text-decoration: none !important;
  list-style: none !important;
}
a {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --main: #9a40ff;
  --lessmain: #2b78f3;
  --primary: #15181a;
  --color: #f89e52;
  --new: #ffffff09;
}

.bg-main {
  background-color: var(--main) !important;
}
.bg-lessmain {
  background-color: var(--lessmain) !important;
}
.bg-primarys {
  background-color: var(--primary) !important;
}
.bg-color {
  background-color: var(--color) !important;
}
.text-main {
  color: var(--main) !important;
}
.text-lessmain {
  color: var(--lessmain) !important;
}
.text-primarys {
  color: var(--primary) !important;
}
.text-color {
  color: var(--color) !important;
}
.border-main {
  border: 2px solid var(--main) !important;
}
.border-lessmain {
  border: 2px solid var(--lessmain) !important;
}
.border-primarys {
  border: 2px solid var(--primary) !important;
}
.border-color {
  border: 2px solid var(--color) !important;
}
.border-black {
  border: 2px solid #000 !important;
}
.absoluter{
  margin-top: 60px;
}